---
#Installation tasks.
- name: Begining Installation
  become: yes
  debug: msg="Initiating Rally Installation on {{ inventory_hostname }}" 

- name: installing | installing the required software
  become: yes
  yum:
    name: "{{ item }}"
    state: latest
  with_items:
    - git 
    - gcc 
    - libffi-devel 
    - python-devel
    - openssl-devel
    - gmp-devel
    - libxml2-devel
    - libxslt-devel
    - postgresql-devel 
    - redhat-rpm-config
    - wget

- name: installing | installing EPEL repo 
  shell: rm -rf epel-release-latest-*; wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm; rpm -ivh epel-release-latest*
  ignore_errors: yes

- name: installing | installing software from EPEL
  become: yes
  yum:
    name: "{{ item }}"
    state: latest
  with_items:
    - python-pip

- name: installing | installing rally
  become: yes
  shell: wget https://raw.githubusercontent.com/openstack/rally/master/install_rally.sh -O - | bash
  register: rally_download

- name: installing | show output from installing rally task
  become: yes
  debug: 
    var: rally_download
  ignore_errors: yes

- name: installing | copy the authentication template
  become: yes
  template: 
    dest: /root/osp-keystone-v3.json
    owner: root
    group: root
    mode: 0755
    src: osp-keystone-v3.json.j2

- name: installing | create rally installation
  become: yes
  shell: rally deployment create --file=/root/osp-keystone-v3.json --name=existing

- name: installing | create directory for rally jobs
  become: yes
  file: 
    path: /root/rally-jobs
    state: directory
    mode: 0755
    owner: root
    group: root

- name: installing | copy rally jobs to destination
  become: yes
  copy: 
    src: "{{ item }}"
    dest: /root/rally-jobs/
  with_items: 
    - cinder.yaml
    - fuel.yaml
    - heat.yaml
    - nova.yaml
    - rally-designate.yaml
    - rally-ironic.yaml
    - rally-keystone-api-v2.yaml
    - rally-manila-no-ss.yaml
    - rally-manila.yaml
    - rally-mistral.yaml
    - rally-mos.yaml
    - rally-murano.yaml
    - rally-neutron.yaml
    - rally-zaqar.yaml
    - rally.yaml
    - rally_args.yaml
    - sahara-clusters.yaml
    - unstable-neutron.yaml